﻿@model List<string>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Proxy Test</title>
</head>
<body>
    <div>
        <pre>
      @foreach (var s in Model)
      {
          @(s + '\n')
      }
</pre>
    </div>
</body>
</html>