@using SalesApp.Models
@model SalesApp.Models.CreateEditSprintViewModel

<div class="form-group">
    @Html.HiddenFor(m => m.SprintId)
    @Html.LabelFor(model => model.Name, new { @class = "col-lg-4 control-label" })
    <div class="col-lg-8">
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @placeholder = "Enter title of sprint", @requried = "required" })
        @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
    </div>
</div>

<div class="form-group" id="dateRange">
    @Html.Label(null, "Sprint date range", new { @class = "col-lg-4 control-label" })
    <div class="col-lg-8" id="datepicker">
        <div class="input-daterange input-group">
            @Html.TextBoxFor(m => m.From, new { @class = "input-sm form-control" })
            <span class="input-group-addon">to</span>
            @Html.TextBoxFor(m => m.To, new { @class = "input-sm form-control" })
        </div>
        @Html.ValidationMessageFor(m => m.From, null, new { @class = "text-danger" })
        <br/>
        @Html.ValidationMessageFor(m => m.To, null, new { @class = "text-danger" })
    </div>
</div>

<div class="form-group">
    <div class="col-lg-10">
        <div id="spiner" class="sk-spinner sk-spinner-double-bounce pull-right" hidden>
            <div class="sk-double-bounce1"></div>
            <div class="sk-double-bounce2"></div>
        </div>
    </div>
    <div class="col-lg-2">
        <button class="btn btn-primary pull-right" type="submit" id="submitButton">Submit</button>
    </div>
</div>
        