
@using Contract.Infrastructure.DataContracts.Platform.DataDotCom
@using Contract.Infrastructure.DataContracts.Sprint
@using Newtonsoft.Json
@using SalesApp.Models
@model SalesApp.Models.CreateEditTaskViewModel

<environment names="Development,Staging,Production">
    <link rel="stylesheet" href="~/css/multistep.form.min.css" />
</environment>

@Html.HiddenFor(m => m.TaskId)

<div id="smartwizard" class="sw-main sw-theme-dots">
    <ul class="nav nav-tabs step-anchor">
        <li><a href="#step-1">General info<br /><small>Sample and search platform</small></a></li>
        <li><a href="#step-2">Filters<br /><small>Location, industry</small></a></li>
        <li><a href="#step-3">Technology<br /><small>Choose tech and versions</small></a></li>
    </ul>

    <div>
        <div id="step-1">
            
            <div class="form-group">
                @Html.LabelFor(model => model.TaskName, new { @class = "col-lg-4 control-label" })
                <div class="col-lg-8">

                    @Html.TextBoxFor(model => model.TaskName, new { @class = "form-control", @placeholder = "Enter title of task", @requried = "required" })

                    @Html.ValidationMessageFor(m => m.TaskName, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.SprintId, new { @class = "col-lg-4 control-label" })
                <div class="col-lg-8">

                    @Html.DropDownListFor(model => model.SprintId, Model.SprintViewModels.Select(model => new SelectListItem() { Value = model.SprintId.ToString(), Text = model.Name, Selected = Model.SprintId == model.SprintId }), "Select sprint", new { @class = "chosen-select", @style = "width: 100%" })

                    @Html.ValidationMessageFor(m => m.SprintId, null, new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TargetId, new { @class = "col-lg-4 control-label" })
                <div class="col-lg-8">

                    @Html.DropDownListFor(model => model.TargetId, Model.Targets.Select(model => new SelectListItem() { Value = model.Key.ToString(), Text = model.Value }), new { @class = "chosen-select", @id = "targetDropDown", @style = "width: 100%" })

                    @Html.ValidationMessageFor(m => m.TargetId, null, new { @class = "text-danger" })
                </div>
            </div>
            
            <div class="form-group">
                @Html.LabelFor(model => model.Status, new { @class = "col-lg-4 control-label" })
                <div class="col-lg-8">
                    <select asp-for="Status" asp-items="Html.GetEnumSelectList<Contract.Infrastructure.DataContracts.Sprint.TaskStatus>()" class="chosen-select" disabled="disabled">
                        <option selected="selected" value="">Please select</option>
                    </select>
                    @Html.ValidationMessageFor(m => m.Status, null, new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div id="step-2">
            <div class="form-group">
                @{
                    DataDotComFilterModel filters = new DataDotComFilterModel() { Industry = new List<string>(), Location = new List<string>() };
                    if (Model.FiltersJson != null)
                    {
                        filters = JsonConvert.DeserializeObject<DataDotComFilterModel>(Model.FiltersJson);
                    }

                }
                @Html.Label("location", "Locations", new { @class = "col-lg-4 control-label" })
                <div class="col-lg-8">
                    <input id="location" class="bootstrap-tagsinput form-control" type="text" data-role="tagsinput" value="@string.Join(",", filters.Location)">
                </div>
            </div>
            
            <div class="form-group">
                @Html.Label("industry", "Industries", new { @class = "col-lg-4 control-label" })
                <div class="col-lg-8">
                    <input id="industry" class="bootstrap-tagsinput form-control" type="text" data-role="tagsinput" value="@string.Join(",", filters.Industry)">
                </div>
            </div>
            @Html.HiddenFor(m => m.FiltersJson, new { @id = "filtersJson" })
        </div>
        
        <div id="step-3">
            <div class="form-group">
                @Html.LabelFor(model => model.TechnologyViewModels, new { @class = "col-lg-3 control-label" })
                <div class="col-lg-4">

                    @Html.DropDownListFor(model => model.TechnologyViewModels, Model.TechnologyViewModels.Select(model => new SelectListItem() { Value = model.TechnologyId.ToString(), Text = model.TechnologyName }), "Select technology", new { @class = "chosen-select", @style = "width: 100%" })

                    @Html.ValidationMessageFor(m => m.TechnologyViewModels, null, new { @class = "text-danger" })
                </div>
                <div class="col-lg-2">
                    <button id="add_version" type="button" class="btn btn-primary">+</button>
                </div>
                <div class="col-lg-3">
                    <button id="remove_version" type="button" class="btn btn-danger">Remove last</button>
                </div>
            </div>

            <div id="tech_version" class="form-group scrollBox">
                @for (int i = 0; i < Model.TechnologyFilterViewModels?.Count; i++)
                {
                    <div class="form-group">
                        <div class="col-lg-4 col-lg-offset-1">
                            <input type="hidden" name="TechnologyFilterViewModels[@i].TechnologyId" value="@Model.TechnologyFilterViewModels[@i]?.TechnologyId">
                            <input disabled name="tech_name" class="form-control" type="text" value="@Model.TechnologyViewModels.FirstOrDefault(model => Model.TechnologyFilterViewModels[i].TechnologyId == model.TechnologyId)?.TechnologyName">
                        </div>
                        @{ var listVersion = JsonConvert.DeserializeObject<List<string>>(Model.TechnologyFilterViewModels[i]?.VersionJson ?? string.Empty);}
                        <div class="col-lg-6">
                            <input id="version_@i" class="bootstrap-tagsinput form-control version-input" type="text" data-role="tagsinput" value="@string.Join(",", listVersion ?? new List<string>())">
                            <input type="hidden" name="TechnologyFilterViewModels[@i].VersionJson">
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
       
</div>

<script type="text/javascript">
    @{ var count = Model.TechnologyFilterViewModels?.Count ?? 0; }
    var countVersion = @count;
</script>

<environment names="Development,Staging,Production">
    <script src="~/js/multistep.form.handler.min.js"></script>
</environment>

<environment names="Development">
    <script src="~/js/multistepManager.js"></script>
</environment>

<environment names="Staging,Production">
    <script src="~/js/multistepManager.min.js"></script>
</environment>

<script type="text/javascript">

    var config = {
        '.chosen-select': { width: "100%" }
    }
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }

</script>
