@using Contract.Infrastructure.DataContracts.Platform.DataDotCom
@using Contract.Infrastructure.DataContracts.Sprint
@using Newtonsoft.Json
@model ICollection<SalesApp.Models.TaskViewModel>

<a data-toggle="modal" class="btn btn-primary" href="#modal-form" id="modalOpenForm">Create new filter</a>

<table class="table table-hover table-striped" id="tableFilter">
    <thead>
    <tr>
        <th>Name</th>
        <th>Target</th>
        <th>Sample</th>
        <th>Status</th>
        <th>Technology</th>
        <th>Filters</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody id="filterTable">
    @foreach (var item in Model)
    {
        <tr class="gradeX" id="task_@item.TaskId">
            <td><b>@item.TaskName</b></td>
            <td>@item.TargetName</td>
            @if (item.SprintModel != null)
            {
                <td>@Html.ActionLink(item.SprintModel.Name, "Details", "Sprint", new { @id = item.SprintModel?.SprintId })</td>
            }
            else
            {
                <td></td>
            }
            <td><span class="label @(item.TaskStatus == Contract.Infrastructure.DataContracts.Sprint.TaskStatus.New? "label-primary" : item.TaskStatus == Contract.Infrastructure.DataContracts.Sprint.TaskStatus.InProgress? "label-warning" : item.TaskStatus == Contract.Infrastructure.DataContracts.Sprint.TaskStatus.Executed? "label-success" : "label-danger")">@item.TaskStatus</span></td>
            <td><ul class="list-group clear-list">
                    @foreach (var tech in item.TechnologyViewModels)
                    {
                        <li class="list-group-item">
                            <a href="@tech.Website" class="btn btn-white" target="_blank">
                                <img height="20" width="20" src="~/images/icons/@tech.Icon">
                                @tech.TechnologyName
                            </a>
                            @{
                                var version = item.TechnologyFilterViewModels.FirstOrDefault(model => model.TechnologyId == tech.TechnologyId);
                                var listVersion = new List<string>();
                                if (!string.IsNullOrEmpty(version?.VersionJson))
                                {
                                    listVersion = JsonConvert.DeserializeObject<List<string>>(version.VersionJson);
                                }
                            }
                            <div class="file-manager row">
                                <ul class="tag-list">
                                    @foreach (var techVersion in listVersion)
                                    {
                                        <li style="padding-right: 2px; padding-bottom: 5px;"><span class="label label-success">@techVersion</span></li>
                                    }
                                </ul>
                            </div>
                        </li>
                    }
                </ul>
            </td>
            <td>@{
                    DataDotComFilterModel filters = new DataDotComFilterModel() { Industry = new List<string>(), Location = new List<string>() };
                    if (item.FiltersJson != null)
                    {
                        filters = JsonConvert.DeserializeObject<DataDotComFilterModel>(item.FiltersJson);
                    }
                }
                <div class="file-manager row">
                    <h5 class="tag-title">Location</h5>
                    <ul class="tag-list">
                        @foreach (var filter in filters.Location)
                        {
                            <li><a><i class="fa fa-tag"></i>@filter</a></li>
                        }
                    </ul>
                </div>
                <div class="file-manager row">
                    <h5 class="tag-title">Industry</h5>
                    <ul class="tag-list">
                        @foreach (var filter in filters.Industry)
                        {
                            <li><a><i class="fa fa-tag"></i>@filter</a></li>
                        }
                    </ul>
                </div>
            </td>
            <td>
                <div class="text-right footable-visible footable-last-column">
                    <div class="btn-group-vertical">
                        @Html.ActionLink("View", "Details", "Task", new { @id = item.TaskId }, new { @class = "btn-primary btn btn-xs" })
                        <button class="btn-warning btn btn-xs edit-button" id="edit_task_@item.TaskId">Edit</button>
                        <button class="btn-danger btn btn-xs delete-button" id="delete_task_@item.TaskId">Delete</button>
                    </div>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>