﻿@using Microsoft.ApplicationInsights.Extensibility
@using SalesApp.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Sales App</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

     <environment names="Development">
         <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
         <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
         <link rel="stylesheet" href="~/lib/metisMenu/dist/metisMenu.css" />
         <link rel="stylesheet" href="~/css/animate.css" asp-append-version="true"/>
         <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
         <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
     </environment>
     <environment names="Staging,Production">
         <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
         <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
         <link rel="stylesheet" href="~/lib/metisMenu/dist/metisMenu.min.css" />
         <link rel="stylesheet" href="~/css/animate.min.css" asp-append-version="true"/>
         <link rel="stylesheet" href="~/css/style.min.css" asp-append-version="true" />
         <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
     </environment>

     </head>
     <body>

     <!-- Wrapper-->
     <div id="wrapper" class="@Html.PageClass()">

         <!-- Navigation -->
         @Html.Partial("_Navigation")

         <!-- Page wraper -->
         <div id="page-wrapper" class="gray-bg @ViewBag.SpecialClass">

             <!-- Top Navbar -->
             @Html.Partial("_TopNavbar")

             <!-- Main view  -->
             @RenderBody()

             <!-- Footer -->
             @Html.Partial("_Footer")

         </div>
         <!-- End page wrapper-->

     </div>
     <!-- End wrapper-->

     <environment names="Development">
         <script src="~/lib/jquery/dist/jquery.js"></script>
         <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
         <script src="~/lib/metisMenu/dist/metisMenu.js"></script>
         <script src="~/lib/slimScroll/jquery.slimscroll.js"></script>
         <script src="~/lib/pace/pace.js" asp-append-version="true"></script>
         <script src="~/js/script.js" asp-append-version="true"></script>
     </environment>
     <environment names="Staging,Production">
         <script src="~/lib/jquery/dist/jquery.min.js"></script>
         <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
         <script src="~/lib/metisMenu/dist/metisMenu.min.js"></script>
         <script src="~/lib/pace/pace.min.js"></script>
         <script src="~/lib/slimScroll/jquery.slimscroll.min.js"></script>
         <script src="~/js/script.min.js"></script>
     </environment>

     @RenderSection("scripts", required: false)
     </body>
     </html>
