﻿@using SalesApp.Helpers
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="@Html.IsSelected(controller: "Sprint")">
                <a href="@Url.Action("Index", "Sprint")"><i class="fa fa-list-alt"></i> <span class="nav-label" data-i18n="nav.widgets">Sprint</span> </a>
            </li>
            <li class="@Html.IsSelected(controller: "Task")">
                <a href="@Url.Action("Index", "Task")"><i class="fa fa-sticky-note"></i> <span class="nav-label" data-i18n="nav.widgets">Task</span> </a>
            </li>
            <li class="@Html.IsSelected(controller: "Site")">
                <a href="@Url.Action("Index", "Site")"><i class="fa fa-server"></i> <span class="nav-label" data-i18n="nav.widgets">Site</span> </a>
            </li>
        </ul>
    </div>
</nav>