@using Contract.Infrastructure.DataContracts.SiteAnalyzer
@model System.Collections.Generic.List<SalesApp.Models.UrlResultViewModel>
    
<table class="table table-hover table-striped" >
    <thead>
    <tr>
        <th>Url</th>
        <th>Task</th>
        <th>Status</th>
        <th>Is match</th>
        <th>Date check</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody id="sampleTable">
    @foreach (var item in Model)
    {
        <tr class="gradeX" id="url_">
            <td><a href="http://@item.UrlLink">@item.UrlLink</a></td>
            <td>@Html.ActionLink(item.TaskViewModel.TaskName, "Details", "Task", new { @id = item.TaskViewModel?.TaskId })</td>
            <td><span class="label @(item.SiteStatus == SiteStatus.Available? "label-primary" : "label-danger")">@item.SiteStatus</span></td>
            <td><span class="label @(item.IsMatch.HasValue && item.IsMatch.Value? "label-success" : "label-warning")">@item.IsMatch</span></td>
            <td>@item.SiteDataModel.Check</td>
            <td>
                <div class="text-right footable-visible footable-last-column">
                    <div class="btn-group-vertical">
                        @Html.ActionLink("View", "Details", "Site", new { @id = item.UrlResultId }, new { @class = "btn-primary btn btn-xs" })
                    </div>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>
