@using SalesApp.Models
@model SalesApp.Models.CreateEditTaskViewModel

<div class="row">
    <div class="col-sm-12 b-r">
        <h3 class="m-t-none m-b">@ViewData["Title"]</h3>

        <form asp-controller="Task" asp-action="Create" data-ajax-begin="onBegin" data-ajax-complete="onComplete" data-ajax-failure="onFailure" data-ajax="true" data-ajax-success="onSuccessCreate" data-ajax-method="POST" id="modalSubmit" class="form-horizontal">
            @Html.Partial("Partial/_CreateEditTaskPartial", Model)
        </form>

    </div>
</div>

@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

