@using SalesApp.Models
@model SalesApp.Models.CreateEditTaskViewModel

<div class="row">
    <div class="col-sm-12 b-r">
        <h3 class="m-t-none m-b">@ViewData["Title"]</h3>

        <form asp-controller="Task" asp-action="Delete" data-ajax-begin="onBegin" data-ajax-complete="onComplete" data-ajax-failure="onFailure" data-ajax="true" data-ajax-success="onSuccessDelete" data-ajax-method="POST" id="modalSubmit" class="form-horizontal">
            <p>Are you sure?</p>
            @Html.HiddenFor(m => m.TaskId)
            @Html.HiddenFor(m => m.SprintId)
            @Html.HiddenFor(m => m.Targets)
            <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
</div>

@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }