@using Contract.Infrastructure.DataContracts.Platform.DataDotCom
@using Newtonsoft.Json
@model SalesApp.Models.TaskViewModel

@{
    Layout = "_Layout";
}

@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/css/table.items.min.css" />
    </environment>
}

@{
    DataDotComFilterModel filters = new DataDotComFilterModel() { Industry = new List<string>(), Location = new List<string>() };
    if (Model.FiltersJson != null)
    {
        filters = JsonConvert.DeserializeObject<DataDotComFilterModel>(Model.FiltersJson);
    }

}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewData["Title"]</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Sprint")">Sprint</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Task")">Task</a>
            </li>
            <li class="active">
                <strong>@ViewData["Title"]</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="m-b-md">
                                <h2>@Model.TaskName</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <dl class="dl-horizontal">

                                <dt>Sprint:</dt>
                                <dd>@Html.ActionLink(Model.SprintModel.Name, "Details", "Sprint", new { @id = Model.SprintModel.SprintId })</dd>
                            </dl>
                            
                            <dl class="dl-horizontal">
                                <dt>Status:</dt>
                                <dd>
                                    <span class="label @(Model.TaskStatus == Contract.Infrastructure.DataContracts.Sprint.TaskStatus.New? "label-primary" : Model.TaskStatus == Contract.Infrastructure.DataContracts.Sprint.TaskStatus.InProgress? "label-warning" : Model.TaskStatus == Contract.Infrastructure.DataContracts.Sprint.TaskStatus.Executed? "label-success" : "label-danger")">@Model.TaskStatus</span>
                                </dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Location:</dt>
                                <dd>
                                    <div class="file-manager row">
                                        <ul class="tag-list">
                                            @foreach (var filter in filters.Location)
                                            {
                                                <li><a><i class="fa fa-tag"></i>@filter</a></li>
                                            }
                                        </ul>
                                    </div>
                                </dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Industry:</dt>
                                <dd>
                                    <div class="file-manager row">
                                        <ul class="tag-list">
                                            @foreach (var filter in filters.Industry)
                                            {
                                                <li><a><i class="fa fa-tag"></i>@filter</a></li>
                                            }
                                        </ul>
                                    </div>
                                </dd>

                            </dl>
                        </div>
                        <div class="col-lg-7">
                            <dl class="dl-horizontal">

                                <dt>Technology:</dt>
                                <dd>
                                    <ul class="list-group clear-list">
                                        @foreach (var tech in Model.TechnologyViewModels)
                                        {
                                            <li class="list-group-item">
                                                <div class="col-lg-3">
                                                    <a href="@tech.Website" class="btn btn-white" target="_blank">
                                                        <img height="20" width="20" src="~/images/icons/@tech.Icon">
                                                        @tech.TechnologyName
                                                    </a>
                                                </div>
                                                @{
                                                    var version = Model.TechnologyFilterViewModels.FirstOrDefault(model => model.TechnologyId == tech.TechnologyId);
                                                    var listVersion = JsonConvert.DeserializeObject<List<string>>(version.VersionJson);
                                                }
                                                <div class="file-manager row">
                                                    <ul class="tag-list">
                                                        @foreach (var techVersion in listVersion)
                                                        {
                                                            <li style="padding-right: 2px; padding-bottom: 5px;"><span class="label label-success">@techVersion</span></li>
                                                        }
                                                    </ul>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            @Html.Partial("~/Views/Site/Partial/_DataSitePartial.cshtml", Model.UrlResultViewModels)
                        </div>
                        <ul class="pagination">
                            @for (int i = 0; i < Math.Ceiling((double)(Model.CountUrlResultsAll * 1.0 / 50)); i++)
                            {
                                if ((int)@ViewData["page"] == i + 1)
                                {
                                    <li class="active"><a href="@Url.Action("Details", "Task", new {id = Model.TaskId, page = (i + 1) })">@(i + 1)</a></li>
                                }
                                else
                                {
                                    <li><a href="@Url.Action("Details", "Task", new {id = Model.TaskId, page = (i + 1) })">@(i + 1)</a></li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal-form" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="modalCreateEdit">

            </div>
        </div>
    </div>
</div>

@section Scripts {

    <environment names="Development,Staging,Production">
        <script src="~/js/table.items.handler.min.js"></script>
    </environment>

}
