﻿@model System.Collections.Generic.List<SalesApp.Models.TaskViewModel>

@{
    Layout = "_Layout";
}

@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/css/table.items.min.css" />
    </environment>
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewData["Title"]</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Home", "Index")">Home</a>
            </li>
            <li class="active">
                <strong>@ViewData["Title"]</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>List of filter</h5>
                    <div class="ibox-tools">
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                    @Html.Partial("Partial/_DataTaskPartial", Model)
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="modalCreateEdit">

            </div>
        </div>
    </div>
</div>

@section Scripts {

    <environment names="Development,Staging,Production">
        <script src="~/js/table.items.handler.min.js"></script>
    </environment>

    <environment names="Development">
        <script src="~/js/taskManager.js"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/js/taskManager.min.js"></script>
    </environment>

}