﻿.scrollBox {  
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    height: 200px;
}

.breakItemList {
    word-wrap: break-word;
}

.showInline{
    display:inline-block;
    border: 0px !important;
}