﻿@using Contract.Infrastructure.DataContracts.Platform.DataDotCom
@using Contract.Infrastructure.DataContracts.SiteAnalyzer
@using Newtonsoft.Json
@model SalesApp.Models.UrlResultViewModel

@{
    Layout = "_Layout";
}

@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/css/table.items.min.css" />
    </environment>
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewData["Title"]</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Sprint")">Sprint</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Task")">Task</a>
            </li>
            <li class="active">
                <strong>@ViewData["Title"]</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="m-b-md">
                                <h2>@Model.UrlLink</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <dl class="dl-horizontal">

                                <dt>Link:</dt>
                                <dd><a href="@Model.UrlLink">@Model.UrlLink</a></dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Paginator url:</dt>
                                <dd><a href="@Model.PaginatorViewModel.PaginatorUrl">@Model.PaginatorViewModel.PaginatorUrl</a></dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Task:</dt>
                                <dd>@Html.ActionLink(@Model.TaskViewModel.TaskName, "Details", "Task", new { @id = @Model.TaskViewModel?.TaskId })</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Status:</dt>
                                <dd><span class="label @(@Model.SiteStatus == SiteStatus.Available? "label-primary" : "label-danger")">@Model.SiteStatus</span></dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Match task:</dt>
                                <dd><span class="label @(@Model.IsMatch.Value? "label-success" : "label-warning")">@Model.IsMatch.Value</span></dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Check date:</dt>
                                <dd>@Model.SiteDataModel.Check</dd>
                            </dl>
                            <dl class="dl-horizontal">
                                <dt>Count url:</dt>
                                <dd>@Model.CountUrl</dd>
                            </dl>
                            <div class="ibox collapsed">
                                <div class="ibox-title">
                                    <h5 class="text-center"><b>Responsive</b></h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content" style="display: none;">
                                    @foreach (var responsive in Model.SiteDataModel.ResponsiveViewModels)
                                    {

                                        <div class="panel-group" id="docWidthStatus">
                                            <div class="panel @(responsive.DocWidthStatus == DocWidthStatus.Done ? "panel-primary" : responsive.DocWidthStatus == DocWidthStatus.DocTooWide ? "panel-danger" : "panel-warning")">
                                                <div class="panel-heading">
                                                    <h5 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#docWidthStatus" href="#collapseDocWidthStatus" aria-expanded="false" class="collapsed">Document width(Screen area)</a>
                                                    </h5>
                                                </div>
                                                <div id="collapseDocWidthStatus" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                    <div class="panel-body">
                                                        <span class="label label-primary">Done</span> The width of the document equal to the width of the window<br><br>
                                                        <span class="label label-danger">DocTooWide</span> The page width exceeds the width of the screen area, which means users have to scroll horizontally<br><br>
                                                        <span class="label label-warning">Unknown</span> Cannot check

                                                    </div>
                                                </div>
                                                <div class="panel-footer">
                                                    @responsive.DocWidthStatus
                                                </div>
                                            </div>

                                        </div>


                                                    <div class="panel-group" id="portStatus">
                                                        <div class="panel @(responsive.PortStatus == ViewPortStatus.ResponsiveWidth ? "panel-primary" : responsive.PortStatus == ViewPortStatus.Unknown ? "panel-warning" : "panel-danger")">
                                                            <div class="panel-heading">
                                                                <h5 class="panel-title">
                                                                    <a data-toggle="collapse" data-parent="#portStatus" href="#collapsePortStatus" aria-expanded="false" class="collapsed">viewport tag</a>
                                                                </h5>
                                                            </div>
                                                            <div id="collapsePortStatus" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                                <div class="panel-body">
                                                                    <span class="label label-primary">ResponsiveWidth</span> The site is displayed correctly on all devices.<br><br>
                                                                    <span class="label label-default">HardCodedWidth</span> The site isn't displayed correctly on all devices, width is fixed.<br><br>
                                                                    <span class="label label-default">ContentMissed</span> Tag 'viewport' specified but missing width of document.<br><br>
                                                                    <span class="label label-danger">NoViewPortDeclared</span> Tag 'viewport' not specified<br><br>
                                                                    <span class="label label-warning">Unknown</span> Cannot check

                                                                </div>
                                                            </div>
                                                            <div class="panel-footer">
                                                                @responsive.PortStatus
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="panel-group" id="touchScreenStatus">
                                                        <div class="panel @(responsive.TouchScreenStatus == TouchScreenStatus.Done ? "panel-primary" : responsive.TouchScreenStatus == TouchScreenStatus.TooSmallTouchScreen ? "panel-danger" : "panel-warning")">
                                                            <div class="panel-heading">
                                                                <h5 class="panel-title">
                                                                    <a data-toggle="collapse" data-parent="#touchScreenStatus" href="#collapseTouchScreenStatus" aria-expanded="false" class="collapsed">Element size</a>
                                                                </h5>
                                                            </div>
                                                            <div id="collapseTouchScreenStatus" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                                <div class="panel-body">
                                                                    <span class="label label-primary">Done</span> The size of the active elements (links, buttons, input) is sufficient to interact with them.<br><br>
                                                                    <span class="label label-danger">TooSmallTouchScreen</span> The size of the active elements very small for user <br><br>
                                                                    <span class="label label-warning">Unknown</span> Cannot check

                                                                </div>
                                                            </div>
                                                            <div class="panel-footer">
                                                                @responsive.TouchScreenStatus
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="panel-group" id="fontSizeStatus">
                                                        <div class="panel @(responsive.FontSizeStatus == FontSizeStatus.Done ? "panel-primary" : responsive.FontSizeStatus == FontSizeStatus.TooSmallSizeFonts ? "panel-danger" : "panel-warning")">
                                                            <div class="panel-heading">
                                                                <h5 class="panel-title">
                                                                    <a data-toggle="collapse" data-parent="#fontSizeStatus" href="#collapseFontSizeStatus" aria-expanded="false" class="collapsed">Font size</a>
                                                                </h5>
                                                            </div>
                                                            <div id="collapseFontSizeStatus" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                                <div class="panel-body">
                                                                    <span class="label label-primary">Done</span> The font size and height of the lines on site make it easy to read the text.<br><br>
                                                                    <span class="label label-danger">FontSizeStatus</span> The font size and height of the lines are too small for read by users.<br><br>
                                                                    <span class="label label-warning">Unknown</span> Cannot check

                                                                </div>
                                                            </div>
                                                            <div class="panel-footer">
                                                                @responsive.FontSizeStatus
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="panel-group" id="flashStatus">
                                                        <div class="panel @(responsive.FlashStatus == FlashStatus.Done ? "panel-primary" : responsive.FlashStatus == FlashStatus.FlashDetected ? "panel-danger" : "panel-warning")">
                                                            <div class="panel-heading">
                                                                <h5 class="panel-title">
                                                                    <a data-toggle="collapse" data-parent="#flashStatus" href="#collapseFlashStatus" aria-expanded="false" class="collapsed">Plug-in</a>
                                                                </h5>
                                                            </div>
                                                            <div id="collapseFlashStatus" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                                <div class="panel-body">
                                                                    <span class="label label-primary">Done</span> No plugins found.<br><br>
                                                                    <span class="label label-danger">FlashDetected</span> Plugins found, but most mobile devices do not support plug-ins, which leads to a lot of errors and security breaches in browsers that provide such support. In this regard, many browsers limit the work of plug-ins.<br><br>
                                                                    <span class="label label-warning">Unknown</span> Cannot check

                                                                </div>
                                                            </div>
                                                            <div class="panel-footer">
                                                                @responsive.FlashStatus
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="panel-group" id="alertStatus">
                                                        <div class="panel @(responsive.AlertStatus == AlertStatus.Done ? "panel-primary" : responsive.AlertStatus == AlertStatus.AlertDetected ? "panel-danger" : "panel-warning")">
                                                            <div class="panel-heading">
                                                                <h5 class="panel-title">
                                                                    <a data-toggle="collapse" data-parent="#alertStatus" href="#collapseAlertStatus" aria-expanded="false" class="collapsed">Alert</a>
                                                                </h5>
                                                            </div>
                                                            <div id="collapseAlertStatus" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                                <div class="panel-body">
                                                                    <span class="label label-primary">Done</span> There are no pop-ups on page.<br><br>
                                                                    <span class="label label-danger">AlertDetected</span> There are pop-ups on page and it can partially or completely cover the content.<br><br>
                                                                    <span class="label label-warning">Unknown</span> Cannot check

                                                                </div>
                                                            </div>
                                                            <div class="panel-footer">
                                                                @responsive.AlertStatus
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="panel-group" id="screenshot">
                                                        <div class="panel panel-info">
                                                            <div class="panel-heading">
                                                                <h5 class="panel-title">
                                                                    <a data-toggle="collapse" data-parent="#screenshot" href="#collapseScreenshot" aria-expanded="false" class="collapsed">Screenshot</a>
                                                                </h5>
                                                            </div>
                                                            <div id="collapseScreenshot" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                                <div class="panel-body">
                                                                    <img src="/images/screenshot/@responsive.ScreenShot" width="320" height="600" class="center-block">

                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <dl class="dl-horizontal">

                                <dt>Technology:</dt>
                                <dd>
                                    <ul class="list-group clear-list">
                                        @foreach (var tech in Model.SiteDataModel.TechnologySiteDataModels)
                                        {
                                            <li class="list-group-item">
                                                <div class="col-lg-3">
                                                    <a href="@tech.TechnologyModel.Website" class="btn btn-white" target="_blank">
                                                        <img height="20" width="20" src="~/images/icons/@tech.TechnologyModel.Icon">
                                                        @tech.TechnologyModel.TechnologyName
                                                    </a>
                                                </div>
                                                <div class="file-manager row">
                                                    <ul class="tag-list">
                                                        <li style="padding-right: 2px; padding-bottom: 5px;"><span class="label label-success">@tech.Version</span></li>
                                                    </ul>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </dd>
                           </dl>
                    </div>

                    </div>

                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <div class="row">

                                <div class="col-lg-12">
                                    <div class="tabs-container">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a data-toggle="tab" href="#tab-1"> List of scan this site</a></li>
                                            <li class=""><a data-toggle="tab" href="#tab-2">Table of change technology in this site</a></li>
                                        </ul>
                                        <div class="tab-content">
                                            <div id="tab-1" class="tab-pane active">
                                                <div class="panel-body">
                                                    <table class="table table-hover table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th>Task</th>
                                                                <th>Status</th>
                                                                <th>Is match</th>
                                                                <th>Date check</th>
                                                                <th>Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="sampleTable">
                                                            @foreach (var item in Model.UrlViewModel.UrlResultViewModels)
                                                            {
                                                                <tr class="gradeX" id="url_">
                                                                    <td>@Html.ActionLink(item.TaskViewModel.TaskName, "Details", "Task", new { @id = item.TaskViewModel?.TaskId })</td>
                                                                    <td><span class="label @(item.SiteStatus == SiteStatus.Available? "label-primary" : "label-danger")">@item.SiteStatus</span></td>
                                                                    <td><span class="label @(item.IsMatch.HasValue && item.IsMatch.Value? "label-success" : "label-warning")">@item.IsMatch</span></td>
                                                                    <td>@item.SiteDataModel.Check</td>
                                                                    <td>
                                                                        <div class="text-right footable-visible footable-last-column">
                                                                            <div class="btn-group-vertical">
                                                                                @Html.ActionLink("View", "Details", "Site", new { @id = item.UrlResultId }, new { @class = "btn-primary btn btn-xs" })
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div id="tab-2" class="tab-pane">
                                                <div class="panel-body">
                                                    <div class="ibox-content inspinia-timeline">
                                                        @foreach (var item in Model.UrlViewModel.SiteDataModels)
                                                        {
                                                            <div class="timeline-item content">
                                                                <div class="row">
                                                                    <div class="col-lg-5 date">
                                                                        <i class="fa fa-briefcase"></i>
                                                                        @item.Check
                                                                        <br />
                                                                    </div>
                                                                    <div class="col-lg-7 content">
                                                                        <ul class="list-group clear-list breakItemList">
                                                                            @foreach (var tech in item.TechnologySiteDataModels)
                                                                            {
                                                                                <li class="list-group-item showInline">
                                                                                    <div class="col-lg-3">
                                                                                        <a href="@tech.TechnologyModel.Website" class="btn btn-white" target="_blank">
                                                                                            <img height="12" width="12" src="~/images/icons/@tech.TechnologyModel.Icon">
                                                                                            @tech.TechnologyModel.TechnologyName
                                                                                            <span class="label label-success">@tech.Version</span>
                                                                                        </a>
                                                                                    </div>
                                                                                    <div class="file-manager row">
                                                                                    </div>
                                                                                </li>
                                                                            }
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal-form" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="modalCreateEdit">

            </div>
        </div>
    </div>
</div>

@section Scripts {

    <environment names="Development,Staging,Production">
        <script src="~/js/table.items.handler.min.js"></script>
    </environment>

}
