@using Contract.Infrastructure.DataContracts.SiteAnalyzer
@using Microsoft.AspNetCore.Mvc.Rendering
@using Microsoft.AspNetCore.Routing
@using Newtonsoft.Json
@using SalesApp.Helpers
@using SalesApp.Models
@model SalesApp.Models.UrlResultFilterViewModel

@{
    Layout = "_Layout";
}

@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/css/table.items.min.css" />
        <link rel="stylesheet" href="~/css/multistep.form.min.css" />
    </environment>
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewData["Title"]</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Home", "Index")">Home</a>
            </li>
            <li class="active">
                <strong>@ViewData["Title"]</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Search</h5>
                    <div class="ibox-tools">
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <form asp-controller="Site" method="get" asp-action="Index" class="form-horizontal">

                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.TechnologyViewModels, new { @class = "col-lg-3 control-label" })
                                    <div class="col-lg-4">

                                        @Html.DropDownListFor(model => model.TechnologyViewModels, Model.TechnologyViewModels.Select(model => new SelectListItem() { Value = model.TechnologyId.ToString(), Text = model.TechnologyName }), "Select technology", new { @class = "chosen-select", @style = "width: 100%" })

                                        @Html.ValidationMessageFor(m => m.TechnologyViewModels, null, new { @class = "text-danger" })
                                    </div>
                                    <div class="col-lg-2">
                                        <button id="add_version" type="button" class="btn btn-primary">+</button>
                                    </div>
                                    <div class="col-lg-3">
                                        <button id="remove_version" type="button" class="btn btn-danger">Remove last</button>
                                    </div>
                                </div>

                                <div id="tech_version" class="form-group scrollBox">
                                    @for (int i = 0; i < Model.TechnologyFilterViewModels?.Count; i++)
                                    {
                                        <div class="form-group">
                                            <div class="col-lg-4 col-lg-offset-1">
                                                <input type="hidden" name="TechnologyFilterViewModels[@i].TechnologyId" value="@Model.TechnologyFilterViewModels[@i]?.TechnologyId">
                                                <input disabled name="tech_name" class="form-control" type="text" value="@Model.TechnologyViewModels.FirstOrDefault(model => Model.TechnologyFilterViewModels[i].TechnologyId == model.TechnologyId)?.TechnologyName">
                                            </div>
                                            @{ var listVersion = JsonConvert.DeserializeObject<List<string>>(Model.TechnologyFilterViewModels[i]?.VersionJson ?? string.Empty);}
                                            <div class="col-lg-6">
                                                <input id="version_@i" class="bootstrap-tagsinput form-control version-input" type="text" data-role="tagsinput" value="@string.Join(",", listVersion ?? new List<string>())">
                                                <input type="hidden" name="TechnologyFilterViewModels[@i].VersionJson">
                                            </div>
                                        </div>
                                                }
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CountUrlStart, new { @class = "col-lg-8 control-label" })
                                            <div class="col-lg-4">
                                                @Html.TextBoxFor(m => m.CountUrlStart, new { @class = "input-sm form-control" })
                                                @Html.ValidationMessageFor(m => m.CountUrlStart, null, new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div><div class="col-md-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.CountUrlEnd, new { @class = "col-lg-8 control-label" })
                                            <div class="col-lg-4">
                                                @Html.TextBoxFor(m => m.CountUrlEnd, new { @class = "input-sm form-control" })
                                                @Html.ValidationMessageFor(m => m.CountUrlEnd, null, new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group" id="dateRange">
                                    @Html.Label(null, "Scan date range", new { @class = "col-lg-4 control-label" })
                                    <div class="col-lg-8" id="datepicker">
                                        <div class="input-daterange input-group">
                                            @Html.TextBoxFor(m => m.CheckDateStart, new { @class = "input-sm form-control" })
                                            <span class="input-group-addon">to</span>
                                            @Html.TextBoxFor(m => m.CheckDateEnd, new { @class = "input-sm form-control" })
                                        </div>
                                        @Html.ValidationMessageFor(m => m.CheckDateStart, null, new { @class = "text-danger" })
                                        <br />
                                        @Html.ValidationMessageFor(m => m.CheckDateEnd, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-4">
                                        @Html.LabelFor(model => model.Urls, new { @class = "control-label" })
                                        @Html.ValidationMessageFor(m => m.Urls, null, new { @class = "text-danger" })
                                    </div>
                                    <div class="col-lg-8">
                                        <input id="Urls" name="Urls" class="bootstrap-tagsinput form-control" type="text" data-role="tagsinput" value="@string.Join(",", Model?.UrlList ?? new List<string>())">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <select class="form-control m-b chosen-select col-lg-9" id="TaskIdList" multiple="multiple" name="TaskIdList" style="display: none;">
                                        @foreach (var item in Model.TaskViewModels)
                                        {
                                            if (Model.TaskIdList != null && Model.TaskIdList.Contains(item.TaskId))
                                            {
                                                <option selected="selected" value="@item.TaskId">@item.TaskName</option>
                                            }
                                            else
                                            {
                                                <option value="@item.TaskId">@item.TaskName</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                @Html.LabelFor(model => model.SiteResponsiveModel.AlertStatus, new { @class = "col-lg-4 control-label" })
                                @Html.DropDownListFor(model => model.SiteResponsiveModel.AlertStatus, new SelectList(Enum.GetNames(typeof(AlertStatus))), new { @class = "form-control m-b" })
                                @Html.ValidationMessageFor(m => m.SiteResponsiveModel.AlertStatus, null, new { @class = "text-danger" })

                                @Html.LabelFor(model => model.SiteResponsiveModel.DocWidthStatus, new { @class = "col-lg-4 control-label" })
                                @Html.DropDownListFor(model => model.SiteResponsiveModel.DocWidthStatus, new SelectList(Enum.GetNames(typeof(DocWidthStatus))), new { @class = "form-control m-b" })
                                @Html.ValidationMessageFor(m => m.SiteResponsiveModel.DocWidthStatus, null, new { @class = "text-danger" })

                                @Html.LabelFor(model => model.SiteResponsiveModel.FlashStatus, new { @class = "col-lg-4 control-label" })
                                @Html.DropDownListFor(model => model.SiteResponsiveModel.FlashStatus, new SelectList(Enum.GetNames(typeof(FlashStatus))), new { @class = "form-control m-b" })
                                @Html.ValidationMessageFor(m => m.SiteResponsiveModel.FlashStatus, null, new { @class = "text-danger" })
                            </div> <div class="col-md-2">
                                @Html.LabelFor(model => model.SiteResponsiveModel.FontSizeStatus, new { @class = "col-lg-4 control-label" })
                                @Html.DropDownListFor(model => model.SiteResponsiveModel.FontSizeStatus, new SelectList(Enum.GetNames(typeof(FontSizeStatus))), new { @class = "form-control m-b" })
                                @Html.ValidationMessageFor(m => m.SiteResponsiveModel.FontSizeStatus, null, new { @class = "text-danger" })

                                @Html.LabelFor(model => model.SiteResponsiveModel.PortStatus, new { @class = "col-lg-4 control-label" })
                                @Html.DropDownListFor(model => model.SiteResponsiveModel.PortStatus, new SelectList(Enum.GetNames(typeof(ViewPortStatus))), new { @class = "form-control m-b" })
                                @Html.ValidationMessageFor(m => m.SiteResponsiveModel.PortStatus, null, new { @class = "text-danger" })

                                @Html.LabelFor(model => model.SiteResponsiveModel.TouchScreenStatus, new { @class = "col-lg-4 control-label" })
                                @Html.DropDownListFor(model => model.SiteResponsiveModel.TouchScreenStatus, new SelectList(Enum.GetNames(typeof(TouchScreenStatus))), new { @class = "form-control m-b" })
                                @Html.ValidationMessageFor(m => m.SiteResponsiveModel.TouchScreenStatus, null, new { @class = "text-danger" })

                                <div class="form-group">
                                    @Html.LabelFor(model => model.limit, new { @class = "col-lg-7 control-label" })
                                    <div class="col-lg-5">
                                        @Html.DropDownListFor(model => model.limit, new List<SelectListItem>() { new SelectListItem() { Value = "10", Text = "10" }, new SelectListItem() { Value = "50", Text = "50" }, new SelectListItem() { Value = "100", Text = "100" } }, new { @class = "form-control m-b" })
                                        @Html.ValidationMessageFor(m => m.limit, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                                <button class="btn btn-primary pull-right" type="submit" id="submitButton">Submit</button>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>List of sites</h5>
                    <div class="ibox-tools">
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                    @Html.Partial("Partial/_DataSitePartial", Model.ResultViewModels)
                </div>
            </div>
        </div>
    </div>

    <ul class="pagination">
        @for (int i = 0; i < Math.Ceiling((double)(Model.count * 1.0 / Model.limit)); i++)
        {
            if ((int)@ViewData["page"] == i + 1)
            {
                <li class="active"><a href="@Url.Action("Index", "Site", new { model = Model , page = i + 1 })">@(i + 1)</a></li>
            }
            else
            {
                <li><a href="@Url.Action("Index", "Site", Model.RouteValues.ToRouteValueDictionaryWithCollection())&page=@(i + 1)">@(i + 1)</a></li>
            }
        }
    </ul>
</div>

<div id="modal-form" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="modalCreateEdit">

            </div>
        </div>
    </div>
</div>

@section Scripts {

    <environment names="Development,Staging,Production">
        <script src="~/js/table.items.handler.min.js"></script>
    </environment>

    <script type="text/javascript">
        @{ var count = Model.TechnologyFilterViewModels?.Count ?? 0; }
        var countVersion = @count;
    </script>

    <environment names="Development,Staging,Production">
        <script src="~/lib/bootstrap-tagsinput/src/bootstrap-tagsinput.js"></script>
        <script src="~/lib/chosen/chosen.jquery.js"></script>
    </environment>

    

    <environment names="Development">
        <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    </environment>
    
    <environment names="Development">
        <script src="~/js/siteManager.js"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/js/siteManager.min.js"></script>
    </environment>
    
    <script type="text/javascript">

        var config = {
            '.chosen-select': { width: "100%" }
        }
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }

    </script>

    <script>
        $('#dateRange .input-daterange').datepicker({
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true,
            format: "mm/dd/yyyy"
        });
    </script>
}