@using SalesApp.Models
@model SalesApp.Models.CreateEditSprintViewModel

<div class="row">
    <div class="col-sm-12 b-r">
        <h3 class="m-t-none m-b">@ViewData["Title"]</h3>

        <form asp-controller="Sprint" asp-action="Create" data-ajax-begin="onBegin" data-ajax-complete="onComplete" data-ajax-failure="onFailure" data-ajax="true" data-ajax-success="onSuccessCreate" data-ajax-method="POST" id="modalSubmit" class="form-horizontal">
            @Html.Partial("Partial/_CreateEditSprintPartial", Model)
        </form>

    </div>
</div>

@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

<environment names="Development">
    <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.js" asp-append-version="true"></script>
</environment>
<environment names="Staging,Production">
    <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
</environment>

<script>
    $('#dateRange .input-daterange').datepicker({
        keyboardNavigation: false,
        forceParse: false,
        autoclose: true,
        format: "dd/mm/yyyy"
    });
</script>