﻿@model SalesApp.Models.SprintViewModel

@{
    Layout = "_Layout";
}

@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/css/table.items.min.css" />
    </environment>
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewData["Title"]</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Home</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Sprint")">Sprints</a>
            </li>
            <li class="active">
                <strong>@ViewData["Title"]</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="m-b-md">
                                <h2>@Model.Name</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <dl class="dl-horizontal">

                                <dt>Strarts:</dt>
                                <dd>@(Model.From.HasValue ? Model.From.Value.ToString("D") : "")</dd>
                            </dl>
                        </div>
                        <div class="col-lg-7" id="cluster_info">
                            <dl class="dl-horizontal">
                                <dt>Finishs:</dt>
                                <dd>@(Model.From.HasValue ? Model.From.Value.ToString("D") : "")</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            @Html.Partial("~/Views/Task/Partial/_DataTaskPartial.cshtml", Model.TaskModels)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.HiddenFor(m => m.SprintId, new { @id = "currSprintId" })

<div id="modal-form" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="modalCreateEdit">

            </div>
        </div>
    </div>
</div> 

@section Scripts {
    <environment names="Development,Staging,Production">
        <script src="~/js/table.items.handler.min.js"></script>
    </environment>

    <environment names="Development">
        <script src="~/js/taskManager.js"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/js/taskManager.min.js"></script>
    </environment>
}
