﻿@model System.Collections.Generic.List<SalesApp.Models.SprintViewModel>

@{
    Layout = "_Layout";
}

@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/css/table.items.min.css" />
        
        <link rel="stylesheet" href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css" />
    </environment>
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>@ViewData["Title"]</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Home", "Index")">Home</a>
            </li>
            <li class="active">
                <strong>@ViewData["Title"]</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>List of sprints</h5>
                    <div class="ibox-tools">
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                    <a data-toggle="modal" class="btn btn-primary" href="#modal-form" id="modalOpenForm">Create new sprint</a>
                    <table class="table table-striped table-bordered table-hover" id="tableSprint">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody id="sprintTable">
                        @foreach (var item in Model)
                        {
                            <tr class="gradeX" id="sprint_@item.SprintId">
                                <td>@item.Name</td>
                                <td>@(item.From.HasValue? item.From.Value.ToString("D") : "")</td>
                                <td>@(item.To.HasValue ? item.To.Value.ToString("D") : "")</td>
                                <td>
                                    <div class="text-right footable-visible footable-last-column">
                                        <div class="btn-group">
                                            @Html.ActionLink("View", "Details", "Sprint", new { @id = item.SprintId }, new { @class = "btn-primary btn btn-xs" })
                                            <button class="btn-warning btn btn-xs edit-button" id="edit_sprint_@item.SprintId">Edit</button>
                                            <button class="btn-danger btn btn-xs delete-button" id="delete_sprint_@item.SprintId">Delete</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Action</th>
                        </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="modal-form" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="modalCreateEdit">
                
            </div>
        </div>
    </div>
</div>    

@section Scripts {

    <environment names="Development,Staging,Production">
        <script src="~/lib/slimScroll/jquery.slimscroll.min.js"></script>
        <script src="~/js/table.items.handler.min.js"></script>
    </environment>

    <environment names="Development">
        <script src="~/js/sprintManager.js"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/js/sprintManager.min.js"></script>
    </environment>

}
